body {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    font-family: $fontMain;
    overflow-x: hidden;
}

a {
    $trans: all 0.3s;
    @include transition($trans);
}

b,
strong {
    color: inherit;
    font-weight: bold;
}

::selection {
    color: #fff;
    background-color: #000000;
    -webkit-text-fill-color: #fff;
}

.ui-widget,
input,
textarea,
button {
    font-family: $fontMain;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.pageWrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &.inner {
        .main {
            padding: 160px 0 200px;
        }
    }
    .main {
        padding-bottom: 83px;
    }
    .footer {
        margin-top: auto;
    }
}

.logoWrapper {
    @include transition(filter 0.3s);
    @include invisLink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkMail {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #6a4b4b;
    display: flex;
    align-items: center;
    @include transition(color 0.3s);
    .icon {
        position: relative;
        margin-right: 15px;
        @include before {
            content: "\e900";
            font-family: "icomoon" !important;
            margin-left: 0;
        }
    }
    &:hover {
        color: #d3145b;
    }
}

.linkPhone {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #6a4b4b;
    @include transition(color 0.3s);
    .iconBl {
        display: none;
    }
    &:hover {
        color: #d3145b;
    }
}

.icon {
    position: relative;
    width: 28px;
    height: 28px;
    display: block;
    background-color: #d3145b;
    color: #fff;
    @include border-radius(50%);
    @include transition(all 0.3s);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    &:hover {
        background-color: #9a063d;
    }
}

.iconAdress {
    position: relative;
    @include before {
        content: "\e904";
        font-family: "icomoon" !important;
        font-size: 16px;
        margin-left: 1px;
    }
    &:hover {
        background-color: #d3145b;
    }
}

.iconBl {
    position: relative;
    display: block;
    color: #d3145b;
    @include transition(all 0.3s);
    font-size: 28px;
    &:hover {
        color: #9a063d;
    }
}

.siteTitle {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 100%;
    max-width: 630px;
    color: #6a4b4b;
    margin-left: auto;
    margin-right: auto;
    strong {
        display: block;
        color: #d3145b;
    }
}

.siteDesctiprion {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: block;
    text-align: center;
    color: #6a4b4b;
    margin-top: 16px;
}

.inputWrapper {
    position: relative;
    label {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        display: block;
        color: #6a4b4b;
        margin-bottom: 8px;
        padding-left: 12px;
    }
    input {
        background-color: #fff;
        border: 1px solid #c2b6b6;
        @include border-radius(10px);
        width: 100%;
        height: 55px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #6a4b4b;
        padding: 0 17px;
        &::placeholder {
            color: #c2b6b6;
        }
    }
    textarea {
        resize: none;
        height: 185px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #c2b6b6;
        @include border-radius(10px);
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #6a4b4b;
        padding: 20px 17px;
        &::placeholder {
            color: #c2b6b6;
        }
    }

    .selectric {
        width: 100%;
        height: 55px;
        background-color: #fff;
        border: 1px solid #c2b6b6;
        @include border-radius(10px);
        .label {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            margin: 0;
            padding: 18px 45px 18px 15px;
            width: 100%;
            height: 100%;
            color: #6a4b4b;
        }
        .button {
            background-color: transparent;
            background-image: url("../img/arrow.png");
            background-position: center;
            background-repeat: no-repeat;
            width: 55px;
            height: 100%;
            @include transition(all 0.3s);
            &::after {
                display: none;
            }
        }
    }
}

.item_calc__selected {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 55px;
    background-color: #fff;
    border: 1px solid #c2b6b6;
    @include border-radius(10px);
    color: #6a4b4b;
    padding: 18px 45px 18px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    @include before {
        right: 0;
        top: 0;
        background-color: transparent;
        background-image: url("../img/arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 55px;
        height: 100%;
        @include transition(all 0.3s);
    }
}

.item_calc__select {
    background-color: #fff;
    border: 1px solid #c2b6b6;
    @include border-radius(10px);
    overflow: hidden;
    z-index: 9;
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    top: calc(100% + 1px);
    .item_btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        min-height: 20px;
        display: block;
        padding: 10px;
        color: #666;
        cursor: pointer;
        &:hover {
            background-color: #d5d5d5;
        }
        &.disabled {
        }
        &.selected,
        &.highlighted {
            background-color: #d3145b;
            color: #fff;
        }
    }
}

.show_element {
    .item_calc__select {
        display: block;
    }
}

.selectric-open {
    .selectric {
        .button {
            @include transform(rotate(-180deg));
        }
    }
}

.selectric-items {
    background-color: #fff;
    border: 1px solid #c2b6b6;
    @include border-radius(10px);
    overflow: hidden;
    z-index: 9;
    li {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        &.selected,
        &.highlighted {
            background-color: #d3145b;
            color: #fff;
        }
    }
}

.slick-prev {
    position: absolute;
    left: 50%;
    bottom: 0;
    background-image: url("../img/arrow_left.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 11px;
    height: 18px;
    color: transparent;
    font-size: 0;
    overflow: hidden;
    @include transition(all 0.3s);
    &:hover {
        @include filter(blur(1px));
    }
}

.slick-next {
    position: absolute;
    left: 50%;
    bottom: 0;
    background-image: url("../img/arrow_right.svg");
    width: 11px;
    height: 18px;
    color: transparent;
    font-size: 0;
    overflow: hidden;
    @include transition(all 0.3s);
    &:hover {
        @include filter(blur(1px));
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 57px;
    li {
        margin: 4.5px;
        &.slick-active {
            button {
                background: #d3145b;
            }
        }
        button {
            cursor: pointer;
            width: 9px;
            height: 9px;
            background: #e9e1e1;
            color: transparent;
            overflow: hidden;
            @include border-radius(50%);
            @include transition(all 0.3s);
            &:hover {
                background: #d3145b;
            }
        }
    }
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
    z-index: 10;
}

.modal__container {
    padding: 15px 60px;
    max-width: 600px;
    @include border-radius(20px);
}

input,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
