.btn {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    @include transition(all 0.3s);
    padding: 0 25px;
    z-index: 5;
    text-align: center;
    border: 2px solid transparent;
    @include border-radius(100px);
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &.btnPurple {
        background-color: #d3145b;
        color: #fff;
        &:hover {
            background-color: #9A063D;
        }
    }
    &.btnFull {
        background-color: #fff;
        border: 2px solid #6a4b4b;
        color: #6a4b4b;
        &:hover {
            @include filter(drop-shadow($shadow2));
        }
    }
}

@media (max-width: 479px) {
    .btn {
        padding: 0 5px;
        width: 100%;
    }
}
