@media (max-width: 1199px) {
    .container {
        width: 1024px;
    }

    .header {
        .headerContent {
            justify-content: space-between;
        }
        .title {
            padding: 11px;
            width: 100%;
            order: 5;
            margin: 0;
            max-width: 100%;
            text-align: center;
            br {
                display: none;
            }
        }
        .linkMail {
            margin-left: 0;
        }
        .social {
            margin-left: 0;
        }
        .linkPhone {
            margin-left: 0;
            margin-right: 17px;
        }
    }

    .grettingsWrapper {
        margin: -219px auto 0;
    }

    .grettings {
        height: 650px;
        padding-bottom: 0;

        .grettingsContent {
            padding: 45px 70px 45px 20px;
        }
    }

    .advBlock {
        padding: 0;
    }

    .about {
        .textRight {
            padding: 6px 5px 6px 5px;
        }
    }

    .recipesList {
        grid-template-columns: repeat(2, 1fr);
    }

    .cosmeticsList {
        padding: 0 0;
    }

    .cosmetic {
        &.cosmetic1 {
            .plus {
                left: 8px;
                top: 546px;
            }
            .info {
                left: 70px;
                top: 585px;
            }
        }
        &.cosmetic2 {
            .plus {
                left: 317px;
                top: 356px;
            }
            .info {
                left: 385px;
                top: 400px;
            }
        }
        &.cosmetic3 {
            .plus {
                left: 540px;
                top: 610px;
            }
            .info {
                left: 605px;
                top: 652px;
            }
        }
        &.cosmetic4 {
            .plus {
                right: 216px;
                top: 374px;
            }
            .info {
                top: 445px;
                right: 10px;
            }
        }
        &.cosmetic5 {
            .plus {
                left: 322px;
                top: 860px;
            }
            .info {
                left: 390px;
                top: 900px;
            }
        }
        &.cosmetic6 {
            .plus {
                right: 190px;
                top: 731px;
            }
            .info {
                top: 803px;
                right: -20px;
            }
        }
    }

    .forWhomList {
        .item {
            width: calc(50% - 30px);
        }
    }

    .selectList {
        padding: 7px 15px 33px;
        .selectItem {
            width: calc(100% / 2 - 68px);

            &:nth-child(3n) {
                &::before {
                    display: block;
                }
            }
            &:nth-child(2n) {
                &::before {
                    display: none;
                }
            }
        }
    }

    .resultCalc {
        padding: 25px 55px 31px;
        .result {
            width: calc(50% + 35px);
        }
    }

    .steps {
        padding-left: 0;
    }

    .footer {
        .footerContent {
            max-width: 1000px;
        }
        .footerLeft {
            width: calc(50% + 70px);
        }
        .footerInfo {
            width: calc(50% - 70px);
            flex-direction: column;
            align-items: flex-end;
        }

        .social {
            margin-left: 0;
            margin-top: 15px;
        }
        .linkPhone {
            margin-left: 0;
            margin-top: 15px;
        }
        .adress {
            width: 100%;
            max-width: 100%;
            flex-direction: row-reverse;
            text-align: right;
            margin-top: 15px;
            .icon {
                margin-right: 0;
                margin-left: 10px;
            }
            br {
                display: none;
            }
        }
        .title {
        }
        .copyRight {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .pageWrapper {
        .main {
            padding-bottom: 70px;
        }
        .footer {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .sliderWrapper {
        padding: 70px 0 12px;
    }
}

@media (max-width: 1023px) {
    .container {
        width: 768px;
    }

    .grettings {
        height: 767px;
        .grettingsContent {
            background: transparent;
            flex-wrap: wrap;

            padding: 45px 18px 45px 18px;
            .txt {
                font-size: 40px;
                line-height: 50px;
                text-align: center;
                background: rgba(255, 255, 255, 0.7);
                @include border-radius-top-left(15px);
                @include border-radius-top-right(15px);
            }
            .desc {
                font-size: 20px;
                line-height: 24px;
                text-align: center;
            }
            .grettingsContentLeft {
                width: 100%;
                padding-bottom: 0;
            }
            .grettingsContentRight {
                margin: 0 auto;
                margin-top: 20px;
                width: 100%;
            }
            .txt {
                padding: 15px 0;
                & + * {
                    margin-top: 20px;
                }
            }
        }
        .picture {
            height: calc(50% + 64px);
        }
    }

    .grettingsWrapper {
        &:before {
            bottom: 230px;
        }
        &:after {
            top: 80px;
        }
    }

    .advBlock {
        .item {
            width: 100%;
            & + .item {
                margin-top: 36px;
            }
        }
    }

    .about {
        flex-wrap: wrap;
        .textLeft {
            width: 100%;
            max-width: 100%;
            padding: 25px;
        }
        .textRight {
            padding: 35px 0;
            width: 100%;
            max-width: 100%;
        }
    }

    .recipesWrapper {
        padding-top: 50px;
    }

    .vialsBlock {
        display: none;
    }

    .cosmeticsList {
        max-width: 480px;
        margin: 25px auto 0;
        .cosmetic {
            display: block;
        }
    }

    .cosmetic {
        & + .cosmetic {
            margin-top: 15px;
        }
        .plus {
            display: none;
        }
        .info {
            position: relative;
            left: auto !important;
            right: auto !important;
            top: auto !important;
            bottom: auto !important;
            background: transparent;
            border: 0;
            max-width: 186px;
            margin-left: auto;
            margin-right: auto;
            padding: 21px 1px;
            .title {
                display: none;
            }
            ul {
                margin-top: 0;
            }
        }
    }

    .recipesList {
        .title {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .resultCalc {
        padding: 25px 25px 31px;

        .contols {
            margin-top: 20px;
            .btn {
                margin-right: 0;
                max-width: 100%;
                width: 100%;
                & + .btn {
                    margin-top: 10px;
                }
            }
        }
    }

    .selectList {
        padding: 15px 0;
        justify-content: space-between;
        .selectItem {
            width: calc(50% - 50px);
            margin: 20px;
        }
    }

    .cycle {
        .list {
            .item {
                padding: 30px 15px 30px;
            }
            ul {
                padding: 20px 0 26px;
            }
        }
    }

    .footer {
        .footerContent {
            position: relative;
            padding-top: 200px;
        }
        .footerLeft {
            display: block;
            width: 50%;
        }
        .footerImg {
            height: 150px;
            position: absolute;
            left: 0;
            top: 20px;
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .header {
        .headerContent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include border-radius(10px);
        }
        .logoWrapper {
            grid-row: 1/3;
            @include border-radius(10px 0px 0px 10px);
        }
        .social {
            display: none;
        }
        .title {
            grid-column: 1/3;
        }
        .linkPhone {
            margin-left: 0;
            margin-right: 0;
            display: flex;
            align-items: center;
            .icon {
                display: block;
                margin-right: 15px;
            }
        }
    }

    .recipes {
        .recipesList {
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .recipesList {
        grid-template-columns: 1fr;
        .item {
            margin: 15px 0;
            height: auto;
            @include transform(none);
            &.opened {
            }
            .title {
                height: 170px;
                @include transform(none);
            }
            .text {
                @include transform(none);
                display: none;
                height: auto;
                @include transition(none);
                padding-bottom: 20px;
            }
            &:hover {
                .title {
                    @include transform(none);
                }
                .text {
                    @include transform(none);
                }
            }
        }
    }

    .resultCalc {
        .result {
            width: 100%;
            margin-top: 38px;
        }
        .contols {
            .btn {
                margin-right: 14px;
                max-width: 189px;
                width: 100%;
            }
        }
    }

    .selectList {
        .name,
        .desc {
            text-align: center;
        }
        .selectItem {
            width: 100%;
            margin: 20px;
            &::before {
                @include transform(rotate(90deg));
                display: block !important;
                left: 50%;
                top: calc(100% + 15px);
                bottom: auto;
                margin-left: -16px;
            }
            &:last-child {
                &::before {
                    display: none !important;
                }
            }
            & + .selectItem {
                margin-top: 40px;
            }
        }
    }

    .steps {
        .item {
            display: block;
            .picture {
                margin: 0 auto;
                .num {
                    display: none;
                }
            }
            .text {
                width: 100%;
            }
        }
    }

    .cycle {
        .list {
            .item {
                width: 100%;
            }
        }
    }

    .sliderReviews {
        max-width: 355px;

        .review {
            width: 100%;
            display: block;
            padding: 15px;
        }
        .reviewText {
            width: 100%;
            padding: 0;
            margin-top: 30px;
        }
        .reviewImg {
            padding-top: calc(292 / 283 * 100%);
            height: auto;
            width: 100%;
            max-width: 320px;
        }
    }

    .footer {
        .footerLeft {
            width: 100%;
            .logoWrapper {
                @include border-radius(0);
                height: 90px;
            }
        }
        .footerInfo {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
        .title {
            width: 100%;
            max-width: 100%;
            padding: 0;
            text-align: center;
            padding: 12px;
        }
        .adress {
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            text-align: left;
            margin-top: 15px;
            max-width: 275px;
            .icon {
                margin-left: 0;
                margin-right: 15px;
            }
        }
        .copyRight {
            margin: 15px auto;
        }
        .linkMail {
            display: table;
            margin: 0 auto;
            .icon {
                display: table;
                margin: 0 auto 10px;
            }
        }
    }

    .offerWrapper {
        padding: 40px 0;
    }

    .stepsNumbers {
        display: block;
        margin-top: 45px;
        margin-bottom: 25px;
        ul {
            display: flex;
            justify-content: center;
            gap: 23px;
            li {
            }
        }
        .num {
            width: 45px;
            height: 45px;
            position: relative;
            background-color: #c2b6b6;
            font-weight: 500;
            font-size: 24px;
            line-height: 16px;
            letter-spacing: 0.01em;
            @include border-radius(50%);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            &.active {
                background-color: #d3145b;
            }
        }
    }
}

@media (max-width: 639px) {
    .header {
        .logoWrapper {
            width: 200px;
        }
    }

    .forWhomList {
        .item {
            width: 100%;
        }
    }
    .grettingsWrapper {
        margin: -260px auto 0;
        &:before {
            left: -80px;
        }
        &:after {
            right: -40px;
        }
    }

    .resultCalc {
        .contols {
            .btn {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    .cycleWrapper {
        .siteTitle {
            padding: 0 15px;
        }
    }

    .modal__container {
        padding: 15px 15px;
    }

    .forWhomWrapper {
        &:before {
            left: -40px;
            top: 0px;
            bottom: auto;
        }
    }
}

@media (max-width: 479px) {
    .container {
        padding: 0 20px;
    }

    .header {
        padding: 20px 0;
        .headerContent {
            grid-template-rows: 36px 36px;
            align-items: start;
        }
        .title {
            grid-row: 3/4;
            font-size: 14px;
            line-height: 18px;
        }
        .logoWrapper {
            width: 150px;
            height: 100%;
            @include border-radius(10px 0px 0px 10px);
            img {
                width: 100%;
                object-fit: contain;
                display: block;
                max-width: 76%;
            }
        }
        .linkMail {
            padding: 6px 0;
            font-size: 12px;
            .icon {
                margin-right: 8px;
            }
        }
        .linkPhone {
            padding: 6px 0;
            font-size: 12px;
            .icon {
                margin-right: 8px;
            }
        }
        .icon {
            width: 23px;
            height: 23px;
            background-size: contain;
        }
    }

    .grettings {
        height: 782px;
        .grettingsContent {
            .txt {
                font-size: 30px;
                line-height: 36px;
                padding: 12px 0 19px;
                & + * {
                    margin-top: 0;
                }
            }
            .desc {
                font-size: 14px;
                line-height: 16px;
            }
            .grettingsContentRight {
                margin-top: 30px;
                &::before {
                    right: -33px;
                }
                .btn {
                    margin-top: 20px;
                    left: -34px;
                }
            }
        }

        .picture {
            height: calc(50% + 73px);
        }
    }

    .advBlockWrapper {
        padding: 39px 0px;
    }

    .advBlock {
        .item {
            padding: 0 15px;
        }
    }

    .aboutWrapper {
        padding: 0;
    }

    .about {
        .textLeft {
            padding: 19px 22px;
        }
        .textRight {
            padding: 41px 0;
        }
    }

    .recipesList {
        .item {
            margin: 10px 0;
        }
        .text {
            .line {
                padding: 0 8px;
                .num {
                    width: 75px;
                }
            }
        }
    }

    .cosmeticsWrapper {
        padding-top: 90px;
    }

    .cosmetic {
        .info {
            padding: 38px 1px 47px;
            .link {
                margin-top: 31px;
            }
        }
    }

    .forWhomWrapper {
        padding-top: 64px;
        .controls {
            margin-top: 48px;
        }
    }

    .forWhomList {
        .item {
            padding: 22px 15px 19px;
            margin: 11px 15px;
            .name {
                min-height: 68px;
            }
        }
    }

    .calcWrapper {
        padding-top: 70px;
    }

    .selectList {
        padding: 24px 0;
        .inputWrapper {
            margin-top: 14px;
        }
        .selectItem {
            width: 100%;
            margin: 0;
            padding: 0 20px;
            .name {
                white-space: normal;
            }
            &::before {
                top: calc(100% + 25px);
            }
            & + .selectItem {
                margin-top: 83px;
            }
        }
        .desc {
            margin-top: 16px;
        }
    }

    .resultCalc {
        padding: 21px 25px 31px;
        .result {
            margin-top: 35px;
        }
        ul {
            margin-top: 28px;
            li {
                .tit {
                    width: 70%;
                }
            }
        }
        .contols {
            margin-top: 41px;
        }
    }

    .stepsWrapper {
        padding-top: 72px;
    }

    .offerWrapper {
        padding: 40px 0 89px;
    }

    .offer {
        padding: 25px 15px 22px;
        .controls {
            margin-top: 64px;
            .btn {
                left: 0;
                padding: 16px 0;
                line-height: 25px;
                width: 100%;
            }
            &::before {
                right: 50%;
                bottom: 54px;
                width: 85px;
                height: 82px;
                z-index: 6;
                background-size: contain;
                pointer-events: none;
                margin-right: -42px;
            }
        }
    }

    .cycleWrapper {
        &:before {
            top: 110px;
        }
    }

    .cycle {
        .list {
            .item {
                padding: 20px 25px;
                margin: 10px 0;
            }
            .title {
                text-align: center;
                min-height: inherit;
            }
            ul {
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }

    .sliderProjects {
        .projectName {
            max-width: 80%;
        }
        .projectInfo {
            padding: 19px 10px 19px 30px;
        }
    }

    .slick-prev {
        margin: 0 !important;
        left: 15px;
    }
    .slick-next {
        margin: 0 !important;
        left: auto;
        right: 15px;
    }

    .sliderWrapper {
        padding: 62px 0 14px;
        .controls {
            margin: 53px auto 0;
            max-width: 90%;
        }
    }

    .footer {
        .footerImg {
            height: 149px;
            top: 0;
            background-position: center;
            background-size: 179px;
        }
        .title {
            padding: 12px;
            line-height: 18px;
        }
        .adress {
            margin-top: 20px;
        }
        .footerLeft {
            .logoWrapper {
                height: 58px;
                img {
                    width: 100%;
                    object-fit: contain;
                    max-width: 38%;
                }
            }
        }
        .footerInfo {
            padding: 11px 0;
        }
        .footerContent {
            padding-top: 150px;
        }
    }

    .pageWrapper {
        .main {
            padding-bottom: 55px;
        }
        .footer {
            padding-bottom: 24px;
        }
    }
}

@media (max-width: 359px) {
    .container {
        padding: 0 5px;
    }
    .cycle {
        .list {
            .btn {
                white-space: nowrap;
            }
        }
    }

    .btn {
        font-size: 18px;
    }

    .stepsNumbers {
        ul {
            gap: 15px;
        }
    }

    .cosmetic {
        .name {
            font-size: 15px;
        }
    }
}
