@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6uw073');
  src:  url('fonts/icomoon.eot?6uw073#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6uw073') format('truetype'),
    url('fonts/icomoon.woff?6uw073') format('woff'),
    url('fonts/icomoon.svg?6uw073#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail .path1:before {
  content: "\e900";
  color: rgb(211, 20, 91);
}
.icon-mail .path2:before {
  content: "\e901";
  margin-left: -1.0361328125em;
  color: rgb(255, 255, 255);
}
.icon-mail .path3:before {
  content: "\e902";
  margin-left: -1.0361328125em;
  color: rgb(255, 255, 255);
}
.icon-telegram:before {
  content: "\e903";
  color: #d3145b;
}
.icon-vk:before {
  content: "\e904";
  color: #d3145b;
}
.icon-whatsap:before {
  content: "\e905";
  color: #d3145b;
}
